*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

input:focus {
  outline: none;
}

input,
button {
  border: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--ff-secondary);
}

:root {

  --clr-primary-400: #1f1c1d;
  --clr-primary-500: #2f5a62;
  --clr-primary-600: #bbd1c9;
  --clr-primary-700: #f3e9e2;
  --clr-primary-800: #d1cdca;
  --clr-primary-900: #c6a462;

  --ff-primary: 'Poppins', san-serif;
  --ff-secondary: 'Lora', serif;

}

body {
  min-height: 100vh;
  min-width: 100%;
  font-family: var(--ff-primary);
  background-color: #fff;
  color: var(--clr-primary-400);
}

/* ======> Layout <====== */
.header-container {
  width: 85%;
  margin: 0 auto;
  max-width: 80rem;
}
.container {
  width: 95%;
  margin: 0 auto;
  max-width: 85rem;
}
/* ======> Layout <====== */

/* ======> Utility <====== */
.btn {
  display: inline-block;
  color: #fff;
  font-size: 1.375rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: .3rem;
  padding: .5em 1.2em;
  border-radius: .7rem;
  background-color: var(--clr-primary-500);
  transition: all .3s ease-in-out;
}

.btn:hover,
.btn:focus {
  opacity: 90%;
}
/* ======> Utility <====== */

header {
  padding: .5em 0;
  box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.09);
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 99;
}

@media only screen and (min-width: 62em) {
  header {
    padding: 1.2em 0;
  }
}

.header-top .header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-top__nav-left,
.header-top__nav-right {
  display: none;
}

@media only screen and (min-width: 62em) {
  .header-top__nav-left,
  .header-top__nav-right {
    display: flex;
    align-items: center;
  }
  .header-top__nav-left a,
  .header-top__nav-right a {
    font-size: .8rem;
    font-weight: 500;
    letter-spacing: .1rem;
    text-transform: uppercase;
    color: var(--clr-primary-400);
  }
  .header-top__nav-left a:hover,
  .header-top__nav-left a:focus,
  .header-top__nav-right a:hover,
  .header-top__nav-right a:focus {
    color: var(--clr-primary-900);
  }
  .header-top__nav-left {
    gap: 3em;
  }
  .header-top__nav-right {
    gap: .5em;
    margin-right: 2em;
  }
}

.header-top__hamburger,
.header-top__cart {
  font-size: 1.5rem;
  cursor: pointer;
}

.header-top__chevron {
  margin-left: .5em;
}

.header-top__login-cart {
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 62em) {
  .header-top__hamburger {
    display: none;
  }
}

.header-top__img {
  width: 9rem;
}

.header-btm {
  margin-top: 1em;
}

@media only screen and (min-width: 62em) {
  .header-btm {
    display: none;
  }
}

.header-btm nav {
  display: flex;
  justify-content: space-between;
  gap: 2em;
  overflow-x: scroll;
  scrollbar-width: none;
}

.header-btm__link {
  color: var(--clr-primary-400);
  white-space: nowrap;
}

.hero {
  height: 21rem;
  width: 100vw;
  background-image: url('/img/beige-wave.png'), url('/img/hero-mobile.jpg');
  background-size: 70rem, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, center;
}

@media only screen and (min-width: 48em) {
  .hero {
    height: 50rem;
    background-image: url('/img/green-wave.png'), url('/img/hero-tablet.jpg');
    background-size: 120rem, cover;
  }
}

@media only screen and (min-width: 62em) {
  .hero {
    background-image: url('/img/green-wave.png'), url('/img/hero-desktop.jpg');
    background-size: 180rem, cover;
  }
}

.hero {
  padding: 2em 6em;
  text-align: right;
}

@media only screen and (min-width: 62em) {
  .hero {
    padding-top: 3em;
  }
}

.hero__heading {
  font-size: 2.125rem;
  font-weight: 700;
  line-height: 1.1;
  display: none;
}

@media only screen and (min-width: 48em) {
  .hero__heading {
    display: block;
  }
}

@media only screen and (min-width: 62em) {
  .hero__heading {
    font-size: 3rem;
    line-height: 1.2;
  }
}

.hero__body {
  font-size: 1.625rem;
  font-weight: 300;
  line-height: 1.1;
  margin-top: .6em;
  display: none;
}

@media only screen and (min-width: 48em) {
  .hero__body {
    display: block;
  }
}

@media only screen and (min-width: 62em) {
  .hero__body {
    font-size: 2rem;
    line-height: 1.1;
  }
}

.hero .btn {
  margin-top: .75em;
  display: none;
}

@media only screen and (min-width: 48em) {
  .hero .btn {
    display: inline-block;
  }
}

@media only screen and (min-width: 62em) {
  .hero .btn {
    margin-top: 1.2em;
  }
}