*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

input:focus {
  outline: none;
}

input,
button {
  border: none;
}

:root {

  --clr-primary-400: #1f1c1d;
  --clr-primary-500: #2f5a62;
  --clr-primary-600: #bbd1c9;
  --clr-primary-700: #f3e9e2;
  --clr-primary-800: #d1cdca;
  --clr-primary-900: #c6a462;

  --ff-primary: 'Poppins', san-serif;
  --ff-secondary: 'Lora', serif;

}

body {
  min-height: 100vh;
  min-width: 100%;
  font-family: var(--ff-primary);
  background-color: #fff;
  color: var(--clr-primary-400);
}

/* ======> Layout <====== */
.header-container {
  width: 85%;
  margin: 0 auto;
  max-width: 80rem;
}
.container {
  width: 95%;
  margin: 0 auto;
  max-width: 85rem;
}
/* ======> Layout <====== */

header {
  padding: .5em 0;
  box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.09);
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 99;
}

@media only screen and (min-width: 62em) {
  header {
    padding: 1.2em 0;
  }
}

.header-top .header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-top__nav-left,
.header-top__nav-right {
  display: none;
}

@media only screen and (min-width: 62em) {
  .header-top__nav-left,
  .header-top__nav-right {
    display: flex;
    align-items: center;
  }
  .header-top__nav-left a,
  .header-top__nav-right a {
    font-size: .9rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--clr-primary-400);
  }
  .header-top__nav-left a:hover,
  .header-top__nav-left a:focus,
  .header-top__nav-right a:hover,
  .header-top__nav-right a:focus {
    color: var(--clr-primary-900);
  }
  .header-top__nav-left {
    gap: 3em;
  }
  .header-top__nav-right {
    gap: .5em;
    margin-right: 2em;
  }
}

.header-top__hamburger,
.header-top__cart {
  font-size: 1.5rem;
  cursor: pointer;
}

.header-top__chevron {
  margin-left: .5em;
}

.header-top__login-cart {
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 62em) {
  .header-top__hamburger {
    display: none;
  }
}

.header-top__img {
  width: 10rem;
}

.header-btm {
  margin-top: 1em;
}

@media only screen and (min-width: 62em) {
  .header-btm {
    display: none;
  }
}

.header-btm nav {
  display: flex;
  justify-content: space-between;
  gap: 2em;
  overflow-x: scroll;
  scrollbar-width: none;
}

.header-btm__link {
  color: var(--clr-primary-400);
  white-space: nowrap;
}